body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
.popup {
  position: fixed;
  display: inline;
  z-index: 10;
}

#top {
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 80vw;
}

#signIn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  color: #FFFFFF;
}

.logo {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

#signIn button {
  border: 0px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 5px 10px 5px 10px;
}

#progress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  position: relative;
  
}

#progressBar {
  width: 100%;
  height: 20px;
  background-color: #10702B;
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0);
  overflow: hidden;
  position: static;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#progressBarFill {
  height: 100%;
  background-color: #FFFFFF;
  width: 0%;
}
#dot {
  width: 20px;
  height: 20px;
  background-color: #FBBC05;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  transform: scale(1.5);

  position: absolute;
}
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 80%;
  margin: -10px auto -10px auto;
  font-size: 1rem;
  color: white;
}
img {
  object-fit: contain;
  height: 100%;
}




#tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#tooltip.hide {
  display: none;
}
#characterName {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(65, 65, 65);
  text-align: center;
}
#description {
  margin: 2px;
  font-size: 1rem;
  color: rgb(65, 65, 65);
  text-align: center;
}


#bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  font-size: 1rem;
  margin-bottom: 20px;

}

#stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#stack a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

#stackButton {
  text-align: center;
  border: #000000 1px solid;
  border-radius: 5px;
  height: 50px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  }

#home {
  height: 50px;
  width: 50px;

  background-color: #4285F4;
  border-radius: 5px;
  border: #000000 1px solid;
}

#interact {
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 15px;
}


.black-round {
  border-radius: 10px;
  border: #000000 1px solid;
}

.green-back {
  background-color: #148D36;
}

.yellow-text {
  color: #FBBC05;
}
.yellow-back {
  background-color: #FBBC05;
}

.bold {
  font-weight: bold;
}

.padded {
  padding: 15px;
}

.hide {
  display: none;
}
#signIn.hide {
  display: none;
}
#progress.hide {
  display: none;
}
#interact.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  #top {
    width: 95vw;
  }
  #bottom {
    width: 90vw;
  }
  #interact {
    position: absolute;
    left: calc(50vw - 5vw);
  }
}

.rainbow { 
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 1s ease infinite;
-z-animation: rainbow 1s ease infinite;
-o-animation: rainbow 1s ease infinite;
  animation: rainbow 1s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}